test/output
*.bkp
.snakemake
nohup.out
bin/__pycache__
test/
databases/
cyanophages/
sftp-config.json
test_prodigalgv.sh
test_prodigalgv.yml
dependencies/envs/.DS_Store
dependencies/scripts/annotation-jk.py
*.sif
.singularity.d/
work/
.nextflow/
.nextflow.log*
INPHARED
output*/
nextflow
benchmark/data/sample_*/*.fasta
benchmark/results/*