profiles {
  apptainer {
    process {
      withName: '.*' {
        container = 'phage_annotation.sif'
        errorStrategy = 'retry'
        maxRetries = 2
      }
    }
    singularity {
      enabled = true
      runOptions = '-B /net/storage:/net/storage'
      autoMounts = true
    }
  }

  conda {
    process {
      withName: '.*' {
        conda = '/net/scratch/hscra/plgrid/plgkciuchcinski/micromamba/envs/phage_annotation'
      }
    }
    conda {
      enabled = true
      useMicromamba = true
    }
    singularity {
      enabled = false
    }
  }
  docker {
    process {
      withName: '.*' {
        container = 'phage_annotation:latest'
      }
    }
    docker {
      enabled = true
      runOptions = '--platform linux/amd64'
    }
    conda {
      enabled = false
    }
    singularity {
      enabled = false
    }
  }
}
