profiles {
  apptainer {
    process {
      withName: '.*' {
        container = 'phage_annotation.sif'
        containerOptions = "-B ${params.DB_ROOT}"
        errorStrategy = 'retry'
        maxRetries = 2
      }
    }
    singularity {
      enabled = true
      autoMounts = true
    }
  }

  conda {
    process {
      withName: '.*' {
        conda = '/path/to/envs/phage_annotation'
      }
    }
    conda {
      enabled = true
      useMicromamba = true
    }
    singularity {
      enabled = false
    }
  }

  docker {
    process {
      withName: '.*' {
        container = 'phage_annotation:latest'
      }
    }
    docker {
      enabled = true
      runOptions = '--platform linux/amd64'
    }
    conda {
      enabled = false
    }
    singularity {
      enabled = false
    }
  }
}

executor {
  cpus = 64
  memory = '256 GB'
}